@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/login.css" rel="stylesheet" />

<style>
    .custom-validation-summary ul {
        list-style-type: none;
        color: red;
    }

    .field-validation-error .custom-validation-summary {
        color: red;
    }
</style>
<body style="background-image: url('/images/hero2.jpg')">
    <div class="login-wrapper fadeInDown animated">
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="lobi-form login-form visible">
            <div class="login-header">
                Login
            </div>

            <div class="login-body no-padding">
                <fieldset>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <label class="input">
                            <span class="input-icon input-icon-prepend fa fa-user"></span>
                            <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                            <span class="tooltip tooltip-top-left"><i class="fa fa-user text-cyan-dark"></i> Please enter your email</span>
                            
                                <span asp-validation-for="Input.Email" class= "custom-validation-summary" style="color:red !important;"></span>
                          

                        </label>
                    </div>


                    <div class="form-group">
                        <label asp-for="Input.Password" class="control-label"></label>
                        <label class="input">
                            <span class="input-icon input-icon-prepend fa fa-key"></span>
                            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                            <span class="tooltip tooltip-top-left"><i class="fa fa-key text-cyan-dark"></i> Please enter your password</span>
                            
                                <span asp-validation-for="Input.Password" class="custom-validation-summary" style="color:red !important;"></span>
                            
                        </label>
                        @Html.ValidationSummary(true, "", new { @class = "custom-validation-summary" })
                        @*<button type="button" class="btn-link btn-forgot-password">Forgot your password?</button>*@
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            @*<label class="checkbox lobicheck lobicheck-info lobicheck-inversed lobicheck-lg">
                                    <input type="checkbox" name="remember_me" value="0">
                                    <i></i> Remember me
                                </label>*@
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-info btn-block"><span class="glyphicon glyphicon-log-in"></span> Login</button>
                        </div>
                    </div>

                    @*<div class="form-group">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>*@
                    @*<div class="form-group">
                            <button type="submit" class="btn btn-info btn-block" style="background-color:#61a1d1">Log in</button>
                        </div>*@
                    @*<div class="form-group">
                            <p>
                                <a asp-action="ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                            </p>
                        </div>*@

                </fieldset>
            </div>
            @*<div class="login-footer">
                    New user? <button type="button" class="btn btn-xs btn-info btn-sign-up pull-right">Sign up</button>
                </div>*@
        </form>
        <!--Forgot password form-->
        <form class="lobi-form pass-forgot-form">
            <div class="login-header">
                Forgot your password?
            </div>
            <div class="login-body">
                <fieldset>
                    <div class="form-group">
                        <label>Email or username</label>
                        <label class="input">
                            <span class="input-icon input-icon-prepend fa fa-envelope"></span>
                            <span class="input-icon input-icon-append fa fa-user"></span>
                            <input type="text" name="username" placeholder="Email or username">
                            <span class="tooltip tooltip-bottom-right">Type the email or username used for registration</span>
                        </label>
                        <button type="button" class="btn-link btn-sign-in">Remember your password?</button>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button type="submit" class="btn btn-info btn-block"><i class="fa fa-refresh"></i> Restore password</button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="login-footer">
                New user? <button type="button" class="btn btn-xs btn-info btn-sign-up pull-right">Sign up</button>
            </div>
        </form>

    </div>
</body>
@*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")


<script src="~/AdminSB/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/AdminSB/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    $('.login-wrapper').ready(function () {

        //$('.login-form').submit(function () {
        //    window.location.href = window.location.href + "/../";
        //    return false;
        //});
        //$('.signup-form').submit(function () {
        //    return false;
        //});
        $('.pass-forgot-form').submit(function () {
            return false;
        });
    });
    $('.btn-forgot-password').click(function (ev) {
        var $form = $(this).closest('form');
        $form.removeClass('visible');
        $form.parent().find('.pass-forgot-form').addClass('visible');
    });
    $('.btn-sign-in').click(function () {
        var $form = $(this).closest('form');
        $form.removeClass('visible');
        $form.parent().find('.login-form').addClass('visible');
    });
    $('.btn-sign-up').click(function () {
        var $form = $(this).closest('form');
        $form.removeClass('visible');
        $form.parent().find('.signup-form').addClass('visible');
    });
</script>
    }
